*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text-2);
  background-color: var(--color-bg);
  transition:
    color 0.25s,
    background-color 0.25s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-text-underline);
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}
